@font-face {
	font-family: 'MapoGoldenPier';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

#join-title {
	font-family: 'MapoGoldenPier';
	font-weight: bold;
	margin-top: 5%;
	margin-bottom: 10%;
}

.join-form label {
	font-family: 'MapoGoldenPier';
}

.join-form button{
	background-color:white;
	border:1px #333333 solid;
	border-radius:3px;
	font-family: 'MapoGoldenPier';
	height:5%;
}
