.form{
	border:1px solid black;
}
.ID-label{
	margin-top:5%;
}
.pw-form-control{
	margin-bottom: 5%
}
h4{
	font-weight: bold;
	margin-top:10%;
}
.information-tag{
	font-size: 10px;
	color: #e5e5e5;
}
.join{
	margin-top: 2%;
}